# ==========================================
# CONFIGURACION DEL ENTORNO VISUAL (DOCKER)
# ==========================================

# El por qué: Nginx ya enjauló este proyecto en su raíz virtual
BASE_URL=http://localhost:8080

# El por qué: Tu backend está escuchando peticiones en el puerto 81 de Docker
API_BASE_URL=http://web:81/

# El por qué: Sin comillas. Tu parser manual en config.php guardaría las comillas textualmente
APP_NAME=Formulario_Socioeconomico
APP_URL=/

API_TIMEOUT=30
SESSION_TIMEOUT=300
SESSION_WARNING_BEFORE=60