# Node modules
node_modules/

# CSS compilado (se genera automáticamente)
#public/public/assets/css/output.css

# Archivos del sistema
.DS_Store
Thumbs.db

# Archivos de IDE
.vscode/
.idea/
*.swp
*.swo

# Archivos de configuración local
config.local.php

.env

.agents
skills-lock.json