# ==========================
# Base de datos
# ==========================
DB_HOST="localhost"
DB_PORT="3306"
DB_NAME="socioeconomico_db"
DB_USER="root"
DB_PASSWORD=""
DB_CHARSET="utf8mb4"

# ==========================
# JWT
# ==========================
AUTH_SECRET="pepinillo"

# ==========================
# Archivos de cedulas
# ==========================
# Ruta FISICA donde se guardan las imagenes en el servidor
# Ejemplo Windows:
# UPLOAD_CEDULAS_DIR=C:/xampp_7.1.26/htdocs/BACKEND-SOCIOECONOMICO/public/uploads/cedulas
# Ejemplo Linux:
# UPLOAD_CEDULAS_DIR=/var/www/BACKEND-SOCIOECONOMICO/public/uploads/cedulas
UPLOAD_CEDULAS_DIR=

# Ruta PUBLICA que se guarda en BD para luego servir la imagen
# En XAMPP (sin VirtualHost) incluye /BACKEND-SOCIOECONOMICO/public
UPLOAD_CEDULAS_PUBLIC_BASE=/public/uploads/cedulas"
